.keyword {
  font-style: none;
  color: rgb(185, 108, 8);
}

.inSingleQuotes {
  font-style: italic;
  color: rgb(43, 199, 111)
}

.inDoubleQuotes {
  font-weight: bold;
  font-style: italic;
  color: rgb(27, 122, 68)
}

.math {
  font-weight: bold;
  color: firebrick;
}

.block {
  font-weight: 100;
  color: rgb(226, 226, 166);
}

.other {
  color: rgb(231, 212, 212);
}
