body {
  background-color: rgba(233, 233, 233, 0.02);
  margin: 0;
  padding: 15px;
  box-sizing: border-box;;
}

/* .sidebarL, .sidebarR {
  opacity: .8;
  color: #000;
} */

.sidebarL {
  grid-area: sidebarL;
  background-color: rgba(255, 255, 255, 0.591);
}

.sidebarR {
  grid-area: sidebarR;
}

.sidebarL, .sidebarR {
  text-align: center;
  padding: 8px;
  color: rgba(0, 0, 0, 0.719);
}

.content {
  background-color: rgba(117, 218, 147, 0);
  grid-area: content;
  position: relative;
  overflow: scroll;
}

.header {
  position: relative;
  /* padding: 2rem; */
  grid-area: header;
}

.footer {
  grid-area: footer;
  background-color: rgba(240, 135, 135, 0.37);
}

.header, .footer {
  font-weight: normal;
}
img.full {
  display: flex;
  margin:  auto;
}
.wrapper {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
  display: grid;
  width: 80vw;
  margin: 0 auto;
  grid-gap: 8px;
  grid-template-columns: 2fr 60% 1fr;
  grid-template-rows: 120px auto 100px;
  grid-template-areas: "sidebarL  header  sidebarR" 
  "sidebarL content sidebarR" 
  "sidebarL  footer  sidebarR";
  color: rgba(206, 198, 198, 0);
}

/* .box {
  min-height: 40vh;
  font-size: 1.2rem;
  : 0 0 4px rgba(0, 0, 0, 0.2)
} */

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.output {
  color: #eee;
  background-color: rgba(4, 5, 5, 0.856);
  padding: 3rem;
  margin: 3rem auto 1rem auto;
  /* min-height: 30vh; */
  /* width: 95%; */
  overflow: scroll;
}

form {
  margin: 3px;
  border-radius: 0;
  /* padding: 1rem; */
  margin: 0 auto;
}

input.headerInputs{
  background-color: #333;
}

textarea {
  font-size: 1.5rem;
  color: #55ff55;
  background-color: #222;
  width: 100%;
  height: 30vh;
  margin: 0 auto;
}

#bgOutput {
  color: #000;
  filter: blur(5px);
  font-family: sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: 0.35;
  position: fixed;
  top: 300px;
  left: 20rem;
  top:  -10rem;
  transform: skew(30deg, 10deg);
  /* transform: skew(30deg); */
  font-size: 3.5rem;
  z-index: -10;
  width: 200vw;
  height: 200vh;
}

@media screen and (max-width: 950px) {
  .output {
    padding: 1em;
    background-color: rgb(12, 12, 12);
    width: 90%;
    font-size: 1em;
    height: 100%;
    overflow-x: scroll;
    line-height: 1.4;
  }
  form {
    display: flex;
    border-radius: 5px;
    padding: 3px;
    background-color: #eee;
    width: 100%;
    margin: 5px auto;
  }
  textarea {
    font-size: 1.5rem;
    color: #55ff55;
    background-color: #222;
    width: 95%;
    height: 80vh;
    margin: 0 auto;
  }
  .buttonBar {
    display: flex;
    width: 100%;
  }
}