#clearCode, #saveCode {
  padding: 5px 9px;
  color: #000;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#clearCode:hover, #saveCode:hover, #logout:hover, #login:hover, #join:hover {
  cursor: pointer;
  color: #000;
  background-color: rgba(0, 0, 0, 0.027);
  transition: all 170ms ease-in-out;
}

#clearCode:active, #saveCode:active {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.123);
}

#saveCode {
  position: absolute;
  right: 50%;
  transform: translate(17rem, 0);
  border: 2px solid rgb(21, 138, 79);
  background-color: rgba(33, 214, 123, 0.061);
}

#clearCode {
  position: absolute;
  right: 50%;
  transform: translate(-17rem, 0);
  border: 2px solid rgb(33, 117, 214);
  background-color: rgba(33, 117, 214, 0.089);
}

input[type=text], input[type=password] {
  border-top-style: none;
  opacity: 0.8;
  /* padding: 2rem; */
  background-color: rgba(225, 226, 225, 0.726);
  color: rgb(27, 218, 59);
  padding: 5px;
}

.availableSnippets {
  text-align: left;
  border-left: 3px solid rgba(54, 131, 231, 0.691);
  border-right: 1px solid rgba(231, 73, 0, 0.28);
  padding: 3px 7px 10px 7px;
  margin-bottom: 1rem;
  border-radius: 0 14px 14px 0;
  background-color: rgba(97, 172, 243, 0.013);
  color: rgb(54, 130, 231);
  line-height: 1.4;
}

.snippetTitle:hover, .username {
  cursor: pointer;
}

.availableSnippets em {
  color: #333;
}

#snippetTitle {
  /* margin-left: 1rem; */
  width: 20rem;
}

#snippetDescription {
  width: 30rem;
  /* margin: 1rem;  */
}

.headerInputs:hover {
  opacity: 0.8;
}

.buttons {
  padding: 5px;
}

#login, #join, #logout {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(28, 156, 77);
}

#login, #join, #logout {
  width: 65px;
}

#login {
  color: #000;
  /*  */
}

#join {
  z-index: 15;
}

#logout {
  position: absolute;
  right: 0%;
  top: 0;
  transform: translate(-3rem, 0);
  z-index: 10;
}

#username {
  right: 17rem;
}

#password {
  right: 5rem;
}

.messages {
  background-color: rgba(255, 255, 255, 0.294);
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%);
  max-width: 250px;
  padding: 20px;
  color: rgb(46, 27, 27);
  border: 1px solid rgb(170, 236, 190);
}

.view, .edit, .share {
  font-size: .5rem;
  margin: 2px;
  padding: 4px;
}

.view:hover, .edit:hover, .share:hover {
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.view:hover {
  background-color: rgb(24, 107, 28);
  color: #eee;
}

.edit:hover {
  background-color: rgb(231, 73, 0);
  color: #eee;
}

.share:hover {
  background-color: rgb(22, 113, 199);
  color: #eee;
}

.view:active, .edit:active, .share:active {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.view {
  color: rgb(24, 107, 28);
  border: 1px solid rgb(24, 107, 28);
}

.edit {
  color: rgb(231, 73, 0);
  border: 1px solid rgb(231, 73, 0);
}

.share {
  color: rgb(22, 113, 199);
  border: 1px solid rgb(22, 113, 199);
}

.username {
  padding: 2px;
  background-color: rgba(177, 166, 166, 0.137);
  font-family: monospace;
  color: #000;
}

.loading {
  background-image: url('../img/ajax-loader.gif');
}

.error {
  padding: 20px;
  color: rgb(88, 32, 25);
  border: 1px solid rgb(223, 113, 98);
}

input::placeholder {
  color: rgb(2, 15, 3);
}