/* $colour1: rgba(63, 136, 197, 1); // Left Sidebar
$colour2: rgba(230, 230, 230, 1); // Normal Text
$colour3: rgba(255, 186, 8, 1); // Highlight
$colour4: rgba(19, 111, 99, 1); // Edit Text Area
$colour5: rgb(3, 43, 67); // Output Window */
/* $colour1: rgba(133, 255, 199, 1);
$colour2: rgba(41, 115, 115, 1);
$colour3: rgba(255, 133, 82, 1);
$colour4: rgba(230, 230, 230, 1);
$colour5: rgba(57, 57, 58, 1);  */
/* $colour1: rgba(208, 0, 0, 1);
$colour2: rgba(255, 186, 8, 1);
$colour3: rgba(63, 136, 197, 1);
$colour4: rgba(3, 43, 67, 1);
$colour5: rgba(19, 111, 99, 1);
 */
/* $colour1: rgba(27, 153, 139, 1);
$colour2: rgba(255, 253, 130, 1);
$colour3: rgba(255, 155, 113, 1);
$colour4: rgba(232, 72, 85, 1);
$colour5: rgba(45, 48, 71, 1); */
/* $colour1: rgba(52, 0, 104, 1);
$colour2: rgba(255, 105, 120, 1);
$colour3: rgba(255, 252, 249, 1);
$colour4: rgba(177, 237, 232, 1);
$colour5: rgba(109, 67, 90, 1); */
/* $colour1: rgba(244, 241, 222, 1);
$colour2: rgba(224, 122, 95, 1);
$colour3: rgba(61, 64, 91, 1);
$colour4: rgba(129, 178, 154, 1);
$colour5: rgba(242, 204, 143, 1);
 */
/* $colour1: rgba(80, 81, 79, 1);
$colour2: rgba(242, 95, 92, 1);
$colour3: rgba(255, 224, 102, 1);
$colour4: rgba(36, 123, 160, 1);
$colour5: rgba(112, 193, 179, 1); */
/* $colour1: rgba(121, 173, 220, 1);
$colour2: rgba(255, 192, 159, 1);
$colour3: rgba(255, 238, 147, 1);
$colour4: rgba(252, 245, 199, 1);
$colour5: rgba(173, 247, 182, 1); */
/* $colour1: rgba(121, 173, 220, 1);     // 1 CURRENT FAV
$colour2: rgba(41, 51, 155, 1);       // 2
$colour3: rgba(182, 214, 204, 1);     // 3
$colour4: rgba(241, 254, 198, 1);     // 4
$colour5: rgb(226, 42, 17);       // 5 */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.keyword {
  font-style: none;
  color: #d34f5a;
}

.inSingleQuotes {
  font-style: italic;
  color: #f1fec6;
}

.inDoubleQuotes {
  font-weight: bold;
  font-style: italic;
  color: rgba(121, 173, 220, 0.8);
}

.math {
  font-weight: bold;
  color: #d34f5a;
}

.block {
  font-weight: 100;
  color: #d34f5a;
}

.other {
  color: #f1fec6;
}

.links, .userControlInfo, .userControlJoin, .userControlNormal {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;

}

.buttons,
.links,
.userControl {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.buttons ul,
.links ul,
.userControl ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.buttons ul li,
.links ul li,
.userControl ul li {
  margin: 2px;
  padding: 2px;
  text-transform: uppercase;
  color: #e6d9e6;
  display: inline-block;
}

.userControlInfo {
  background-color: green;
}

.buttons ul li a,
.links ul li a,
.userControl ul li a {
  color: #ebe9e9;
}

.normalButton {
  background-color: #457b9d;
}

.normalButton:hover {
  color: #457b9d;
  background-color: #f1fec6;
}

.importantButton {
  background-color: #d34f5a;
}

.importantButton:hover, .importantButton:active {
  -webkit-box-shadow: 0 0 5px rgba(211, 79, 90, 0.7);
          box-shadow: 0 0 5px rgba(211, 79, 90, 0.7);
  color: #d34f5a;
  background-color: #f1fec6;
  cursor: pointer;
}

.saveButton {
  background-color: seagreen;
}

li.links {
  margin: 2px;
  color: #f1fec6;
  background-color: #d34f5a;
}

li.links:hover, li.links:active {
  color: #d34f5a;
  background-color: rgba(29, 53, 87, 0.9);
  -webkit-box-shadow: 0 0 5px rgba(211, 79, 90, 0.7);
          box-shadow: 0 0 5px rgba(211, 79, 90, 0.7);
}

.userControlNormal {
  background-color: rgba(29, 53, 87, 0.9);
}

.userControlNormal:hover, .userControlNormal:active {
  color: rgba(29, 53, 87, 0.9);
  background-color: #f1fec6;
  -webkit-box-shadow: 0 0 5px rgba(121, 173, 220, 0.7);
          box-shadow: 0 0 5px rgba(121, 173, 220, 0.7);
  cursor: pointer;
}

.saveButton:hover {
  color: rgba(29, 53, 87, 0.9);
  background-color: #f1fec6;
  -webkit-box-shadow: 0 0 5px rgba(69, 180, 50, 0.7);
          box-shadow: 0 0 5px rgba(69, 180, 50, 0.7);
  cursor: pointer;
}

.userControlJoin {
  background-color: rgba(29, 53, 87, 0.9);
}

li.userControlJoin:hover, li.userControlJoin:active {
  color: #d2a6aa;
  background-color: #570909;
  -webkit-box-shadow: 0 0 5px rgba(211, 79, 90, 0.7);
          box-shadow: 0 0 5px rgba(211, 79, 90, 0.7);
  cursor: pointer;
}


.userControlJoin {
  background-color: #d34f5a;
}

.inputs {
  margin: 3px;
  border: 1px solid rgba(29, 53, 87, 0.335);
  border-radius: 7px;
  background-color: rgba(29, 53, 87, 0);
}

.inputs input {
  background-color: rgba(0, 0, 0, 0);
}

.inputs input[type="text"],
.inputs input[type="password"] {
  border-style: none;
  border: 1px solid #d34f5a;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(29, 53, 87, 0.9);
  padding: 5px;
  margin: 5px;
}

#username,
#password {
  background-color: #d34f5a;
}

#snippetDescription,
#snippetTitle {
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
}

.headerInputs:hover {
  opacity: 0.8;
}

.error {
  color: #d34f5a;
  background-color: rgba(29, 53, 87, 0.9);
}

input::-webkit-input-placeholder,
input {
  font-size: 0.9rem;
  color: #d34f5a;
}

input:-ms-input-placeholder,
input {
  font-size: 0.9rem;
  color: #d34f5a;
}

input::-ms-input-placeholder,
input {
  font-size: 0.9rem;
  color: #d34f5a;
}

input::placeholder,
input {
  font-size: 0.9rem;
  color: #d34f5a;
}

textarea {
  border-style: none;
  color: rgba(29, 53, 87, 0.9);
  background-color: white;
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  overflow: scroll;
}

textarea::-webkit-input-placeholder {
  font-size: 1.5rem;
  font-family: monospace;
  color: #f1fec6;
}

textarea:-ms-input-placeholder {
  font-size: 1.5rem;
  font-family: monospace;
  color: #f1fec6;
}

textarea::-ms-input-placeholder {
  font-size: 1.5rem;
  font-family: monospace;
  color: #f1fec6;
}

textarea::placeholder {
  font-size: 1.5rem;
  font-family: monospace;
  color: #f1fec6;
}

.messages {
  font-size: 1.5rem;
  background-color: rgba(29, 53, 87, 0.9);
  bottom: 5px;
  padding: 3px;
  color: #f1fec6;
  z-index: 1666;
}

.language {
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(69, 180, 50, 0.7);
  bottom: 5px;
  padding: 3px;
  color: #f1fec6;
  z-index: 1666;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.black {
  background-color: #000;
}

tt.snippetsHeading {
  display: block;
  color: rgba(29, 53, 87, 0.9);
  padding: 3px;
  margin-bottom: 20px;
}

h3.usersSnippets {
  color: rgba(29, 53, 87, 0.9);
}

.availableSnippets {
  text-align: left;
  padding: 3px 7px 10px 7px;
  margin-bottom: 4px;
  color: rgba(29, 53, 87, 0.9);
  line-height: 1.4;
}

.snippetTitle:hover, .username:hover {
  cursor: pointer;
  color: #f1fec6;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

.availableSnippets em {
  color: rgba(29, 53, 87, 0.9);
}

.view, .edit, .share {
  font-size: .5rem;
  margin: 2px;
  padding: 4px;
}

.view:hover, .edit:hover, .share:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.edit:hover {
  color: rgba(29, 53, 87, 0.9);
}

.share:hover {
  background-color: #f1fec6;
  color: rgba(29, 53, 87, 0.9);
}

.edit {
  color: #f1fec6;
}

.share {
  color: #f1fec6;
  background-color: rgba(29, 53, 87, 0.9);
}

a {
  color: #d34f5a;
  text-decoration: none;
}

a[target='_blank']::after {content: ' \25F3';}

.username {
  padding: 2px;
  background-color: rgba(177, 166, 166, 0.137);
  font-family: monospace;
  color: #000;
}

.loading {
  background-image: url("../img/ajax-loader.gif");
}

tt {
  text-align: center;
}

.noEdits {
  padding-top: 10rem;
  color: #d34f5a;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #457b9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d34f5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(29, 53, 87, 0.9);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #f1fec6;
}

.header {
  /* border-top: 3px solid #d34f5a; */
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.sidebarL, .sidebarR {
  text-align: center;
  padding: 8px;
  color: #f1fec6;
}

.sidebarL {
  /* border-top: 3px solid #d34f5a; */
  border-left: 3px solid #d34f5a;
  background-color: rgba(238, 238, 238, 0.6);
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: sidebarL;
  z-index: 666;
}

.sidebarR {
  /* border-top: 3px solid #d34f5a; */
  /* border-right: 3px solid #d34f5a; */
  background-color: rgba(29, 53, 87, 0.9);
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: sidebarR;
}

.sidebarL h3 {
  color: rgba(29, 53, 87, 0.9);
}

.sidebarL h2 {
  color: #457b9d;
}

.editsList {
  text-align: left;
}

tt {
  display: block;
  padding: 3px;
  color: #d34f5a;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  position: relative;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: footer;
  background-color: rgba(29, 53, 87, 0.9);
}

.leftLogo {
  position: fixed;
  display: block;
  width: 100px;
  height: 100vh;
}

.llText {
  color: #d34f5a;
  text-shadow: 0 0 7px #d34f5a;
  font-size: 3rem;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: translate(-5px, 250px) rotateZ(-90deg);
          transform: translate(-5px, 250px) rotateZ(-90deg);
  z-index: -2;
}

.header, .footer {
  font-weight: normal;
}

img.full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.wrapper {
  -webkit-box-shadow: 0 0 5px #d34f5a;
          box-shadow: 0 0 5px #d34f5a;
  font-family: sans-serif;
  display: -ms-grid;
  display: grid;
  width: 90vw;
  margin: 20px auto;
  -ms-grid-columns: 2fr 57% 2fr;
      grid-template-columns: 2fr 57% 2fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "sidebarL  header  sidebarR"  "sidebarL content sidebarR "  "sidebarL  footer  sidebarR ";
}

.topleft {
  position: absolute;
  top: 0;
  left: 0;
}

.topright {
  position: absolute;
  top: 0;
  right: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}

.output {
  color: rgba(121, 173, 220, 0.8);
  background-color: #111;
  padding: 10px;
  margin: 3rem auto 1rem auto;
  overflow: scroll;
  min-height: 20vh;
  max-height: 120vh;
}

hr {
  color: #d34f5a;
}

form {
  margin: 3px;
  border-radius: 0;
  margin: 0 auto;
}

textarea {
  display: block;
  position: relative;
  padding: 1rem;
  border-style: none;
  color: #f1fec6;
  background-color: #457b9d;
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  overflow: scroll;
}

#bgOutput {
  display: block;
  color: #000;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  font-family: sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
  opacity: 0.45;
  position: fixed;
  top: 300px;
  left: 20rem;
  top: -10rem;
  -webkit-transform: skew(30deg, 10deg);
          transform: skew(30deg, 10deg);
  font-size: 3.5rem;
  z-index: -10;
  width: 200vw;
  height: 200vh;
}

@media only screen and (max-width: 1250px) {
  body, messages, errors {
    font-size: 17px;
  }
  .header {
    border: none;
  }
  .wrapper {
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: sans-serif;
    display: -ms-grid;
    display: grid;
    width: 100vw;
    -ms-grid-columns: minmax(300px, 1000px);
        grid-template-columns: minmax(300px, 1000px);
    -ms-grid-rows: 300px auto auto;
        grid-template-rows: 300px auto auto;
        grid-template-areas: "header"  "sidebarR" "content"  "sidebarL";
  }
  .leftLogo {
    display: none;
  }
  .output {
    color: rgba(121, 173, 220, 0.8);
    background-color: #111;
    padding: 2px;
    margin: 3px auto 3px auto;
    overflow: scroll;
  }
  form {
    border-radius: 0;
    margin: 0 auto;
  }
  #saveCode {
    left: 0%;
    background-color: #f1fec6;
  }
  #clearCode {
    left: 55px;
    background-color: #d34f5a;
  }
  #removeSnippet {
    right: 0%;
    background-color: #d34f5a;
  }
  .homeButton {
    left: 0%;
    background-color: rgba(121, 173, 220, 0.8);
  }
  #logout {
    color: rgba(29, 53, 87, 0.9);
    position: absolute;
    right: 0%;
    top: -60px;
    z-index: 10;
  }
  #username, #password {
    background-color: #d34f5a;
  }
  #username {
    right: 17rem;
  }
  #password {
    right: 5rem;
  }
  #snippetDescription, #snippetTitle {
    background-color: rgba(0, 0, 0, 0);
    width: 27rem;
  }
  .messages {
    position: absolute;
    font-size: 1rem;
    background-color: rgba(29, 53, 87, 0.9);
    bottom: 5px;
    min-width: 350px;
    padding: 3px;
    color: #f1fec6;
  }
  .error {
    color: #d34f5a;
    background-color: rgba(29, 53, 87, 0.9);
  }
  input::-webkit-input-placeholder, input {
    font-size: 1rem;
    color: #f1fec6;
  }
  input:-ms-input-placeholder, input {
    font-size: 1rem;
    color: #f1fec6;
  }
  input::-ms-input-placeholder, input {
    font-size: 1rem;
    color: #f1fec6;
  }
  input::placeholder, input {
    font-size: 1rem;
    color: #f1fec6;
  }
}

/* @media only screen and (max-width: 600px) {
  
} */
/*# sourceMappingURL=main.css.map */