ul.nav {
  display: flex;
  li {
    list-style-type: none;
  }
}

.button {
  color: $mainFont;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid $mainFont;
  transition: all 0.1s ease-in-out;
}
.button:hover {
  cursor: pointer;
  color: $mainFontLt;
  border: 1px solid $mainFontLt;
  box-shadow: 0 0 5px $mainFontLtShadow, 0 0 3px inset $mainFontLtShadow;
}

.button:active {
  cursor: pointer;
  color: $mainFontLt;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px $mainFontLtShadow;
}

.button#guide {
  float: right;
  text-align: center;
  color: white;
  font-weight: 900;
  width: 7rem;
  border: 2px solid $mainFontLt;
}

#guide:hover {
  cursor: pointer;
  color: white;
}
