

ul.nav {
  display: flex;
  align-items: flex-start;
  li {
    list-style-type: none;
  }

  .button {
    ul li a {
      color: lime;
    }
    padding: 2px 8px;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid $mainFont;
    transition: all 0.1s ease-in-out;
  
    @media only screen and (max-width: 500px) {
      padding: 0;
      margin: 0;
    }

  @media only screen and (max-width: 500px) {
    display: inline-block;
  }

  @media only screen and (max-width: 1080px) {
    display: inline-block;
  }
}

  #snippetSelect {
    padding: 1rem;
  }
}

#guide {
  text-align: center;
  color: rgb(243, 56, 56);
  border: 1px solid rgb(1, 65, 1);
}

.button:hover {
  cursor: pointer;
  color: $mainFontLt;
  border: 1px solid $mainFontLt;
  box-shadow: 0 0 5px $mainFontLtShadow, 0 0 3px inset $mainFontLtShadow;
}

.button:active {
  cursor: pointer;
  color: $mainFontLt;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px $mainFontLtShadow;
}
