.shadowButtons li {
  box-shadow: 0 0 5px $backgroundTrns;
}

.buttons ul,
.links ul,
.userControl ul {
  list-style-type: none;
  margin: 0;
  padding: 0;  
}

.buttons ul li,
.links ul li,
.userControl ul li {
  margin: 2px;
  padding: 2px;
  text-transform: uppercase;
  color: $lightest;
  display: inline-block;
}

.userControlInfo {
  background-color: green;
}

.buttons ul li a,
.links ul li a,
.userControl ul li a {
  color: $lightest;
}

.normalButton {
  background-color: $mainComp;
}

.normalButton:hover {
  color: $mainFont;
  background-color: $mainFont;
}

.importantButton {
  background-color: $mainFontLt;
}

.selectSnipper {
  background-color: $lightest;
}

.importantButton:hover,
.importantButton:active {
  box-shadow: 0 0 5px $boxShadow;
  color: $mainFont;
  background-color: $lightest;
  cursor: pointer;
}

.saveButton {
  background-color: seagreen;
}

.userControlNormal {
  background-color: $background;
}

.userControlNormal:hover,
.userControlNormal:active {
  color: $mainFont;
  background-color: $lightest;
  box-shadow: 0 0 5px $boxShadow;
  cursor: pointer;
}

.saveButton:hover {
  color: $mainFont;
  background-color: $background;
  box-shadow: 0 0 5px $boxShadow;
  cursor: pointer;
}

.userControlJoin {
  background-color: $background;
}

#selectSnipper {
  background-color: $lightest;
}

li.userControlJoin:hover,
li.userControlJoin:active {
  color: $mainFont;
  background-color: $background;
  box-shadow: 0 0 5px $boxShadow;
  cursor: pointer;
}

.userControlJoin {
  background-color: #d34f5a;
}
