// MAIN COLOURS
// HSL 
$hueOrange: 21;
$hueBlue: 201;

$lightest: rgba(255, 255, 255, 1);
$lightestTrns: rgba(255, 255, 255, 0.8);
$darkest: rgba(0, 0, 0, 1);

$boxShadow: rgba(0, 0, 0, 0.4);
$mainCompShadow: rgba(184, 64, 0, 0.4);

$background: rgb(36, 36, 36);
$backgroundTrns: rgba(36, 36, 36, 0.7);

$backgroundLighter: rgb(218, 173, 70);
$textArea: rgb(254, 255, 177);

$mainComp: rgb(184, 64, 0);

$mainFont: rgb(0, 119, 184);
$mainFontDk: rgba(0, 53, 82, 0.815);
$mainFontLt: hsl(201, 100%, 46%);
$loggedInFont: rgb(6, 175, 6);
$loggedInFontTrns: rgba(6, 175, 6, 0.5);

$snippetLinkBG: rgba(167, 204, 167, 0.5);


$mainPanel: hsl($hueOrange - 180, 100%, 36%);

$outputBackground: rgba(1, 21, 51, 0.664);
// COMPONENTS
// lBAR
// content
// rBar