// MAIN COLOURS
// HSL 
$hueOrange: 21;
$hueBlue: 201;

$background: rgb(27, 27, 27);
$mainFont: hsl($hueOrange, 100%, 36%);
$mainPanel: hsl($hueOrange, 100%, 36%);
// COMPONENTS
// lBAR
// content
// rBar