#stats {
  margin: 5px;
}

.snippetEditLink {
  background-color: $snippetLinkBG;
  color: white;
  padding: 2px;
  border: 1px solid $darkest;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.editListItem {
  background-color: $lightestTrns;
  padding: 2px;
  border: 1px dotted $darkest;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.editListItem:hover, .editListItem:active {
  background-color: $mainFontDk;
  color: $lightest;
}

#detectedLanguage {
  margin-left: $paddingSml;
}
.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.black {
  background-color: $background;
}

tt.snippetsHeading {
  display: block;
  color: $mainFont;
  padding: 3px;
  margin-bottom: 20px;
}

tt.editsUsername {
  color: $mainFont;
}

h3.usersSnippets {
  color: $mainFont;
}

.availableSnippets {
  text-align: left;
  padding: 2px;
  margin: 2px 10px;
  border: 1px solid rgb(22, 22, 22);
  background-color: rgba(255, 214, 214, 0.376);
}

.left {
  text-align: left;
}

.view,
.edit,
.share {
  font-size: 0.5rem;
  margin: 2px;
  padding: 4px;
}

.view:hover,
.edit:hover,
.share:hover {
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.edit:hover {
  color: $mainFont;
}

.share:hover {
  background-color: #f1fec6;
  color: $mainFont;
}

.edit {
  color: $mainFont;
}

.share {
  color: $mainFont;
  background-color: $lightestTrns;
}

.username {
  font-family: monospace;
  color: $darkest;
}


.noEdits {
  padding-top: 10rem;
  color: $mainComp;
  text-align: center;
}
