.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.keyword {
  font-style: none;
  color: #d34f5a;
}

.inSingleQuotes {
  font-style: italic;
  color: #f1fec6;
}

.inDoubleQuotes {
  font-weight: bold;
  font-style: italic;
  color: rgba(121, 173, 220, 0.8);
}

.math {
  font-weight: bold;
  color: #d34f5a;
}

.block {
  font-weight: 100;
  color: #d34f5a;
}

.other {
  color: #f1fec6;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: monospace;
  background: #222222;
  color: #0077b8;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  position: relative;
  margin-left: auto;
  width: 93vw;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "header sidebarR" "content sidebarR" "content sidebarR" "footer footer";
  -webkit-box-shadow: 0 0 19px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 19px rgba(0, 0, 0, 0.4);
}

.header {
  position: relative;
  background-color: rgba(0, 28, 42, 0.815);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -webkit-box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.8);
}

.sidebarL,
.sidebarR {
  text-align: center;
  padding: 5px;
  color: #0077b8;
}

.sidebarL {
  max-height: 500px;
  overflow-y: scroll;
  grid-area: sidebarL;
  z-index: 666;
}

.sidebarR {
  background-color: rgba(0, 28, 42, 0.815);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: sidebarR;
}

.content {
  background-color: rgba(0, 28, 42, 0.815);
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: content;
  position: relative;
  z-index: 20;
}

.footer {
  background-color: rgba(36, 36, 36, 0.7);
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.footer p {
  margin-bottom: 10px;
}

img.full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.output {
  color: #0077b8;
  background-color: rgba(0, 28, 42, 0.815);
  padding: 5px;
  overflow: scroll;
  min-height: 1vh;
  max-height: 120vh;
}

hr {
  color: #b84000;
}

#bgOutput {
  display: block;
  color: #b84000;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  font-family: sans-serif, Cochin, Georgia, Times, "Times New Roman", serif;
  opacity: 0.45;
  position: fixed;
  top: 300px;
  left: 20rem;
  top: -10rem;
  -webkit-transform: skew(30deg, 10deg);
          transform: skew(30deg, 10deg);
  font-size: 2.5rem;
  z-index: -10;
  width: 220vw;
  height: 220vh;
}

.leftLogo {
  position: fixed;
  display: block;
  width: 100px;
  height: 100vh;
}

.leftLogo .llText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0077b8;
  text-shadow: 0 0 7px #0077b8;
  font-size: 2rem;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: translate(-2rem, 280px) rotateZ(-90deg);
          transform: translate(-2rem, 280px) rotateZ(-90deg);
  z-index: 0;
}

.leftLogo .llLinks {
  font-size: 0.9rem;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: translate(-73px, 410px) rotateZ(-90deg);
          transform: translate(-73px, 410px) rotateZ(-90deg);
  z-index: 1666;
}

.leftLogo #githubLogo,
.leftLogo #facebookLogo {
  height: 37;
}

.leftLogo #facebookLogo {
  background-color: #b84000;
  -webkit-box-shadow: 0 0 5px rgba(184, 64, 0, 0.4);
          box-shadow: 0 0 5px rgba(184, 64, 0, 0.4);
}

.leftLogo #githubLogo {
  background-color: #0077b8;
}

.header,
.footer {
  font-weight: normal;
}

.sidebarL h3 {
  color: #0077b8;
}

.sidebarL h2 {
  color: #b84000;
}

.editsList {
  margin-bottom: 2rem;
  text-align: left;
}

tt {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: solid 1px black;
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(36, 36, 36, 0.7);
}

.error {
  color: #d34f5a;
  background-color: #242424;
}

.messages {
  font-size: 1.5rem;
  background-color: #242424;
  bottom: 5px;
  padding: 3px;
  color: #0077b8;
  z-index: 1666;
}

.language {
  font-size: 1.2rem;
  text-align: center;
  background-color: #242424;
  bottom: 5px;
  padding: 3px;
  color: #0077b8;
  margin-left: 5px;
  z-index: 1666;
}

.loggedInMembers {
  color: #06af06;
  background-color: rgba(24, 21, 21, 0.746);
  padding: 5px;
  text-align: left;
  min-height: 50px;
  border: 2px solid rgba(36, 36, 36, 0.7);
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10 rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10 rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
}

.loggedInMembers .memberName {
  background-color: #666;
}

.loggedInMembers tt {
  display: block;
  padding: 5px;
  color: #0077b8;
}

.loading {
  background-image: url("../img/ajax-loader.gif");
}

.inputs#snippetTitle,
.inputs#snippetDescription,
.inputs#username,
.inputs#password {
  height: 1.4rem;
  background-color: rgba(97, 96, 96, 0.671);
  color: #0077b8;
  border: 2px solid #0077b8;
  border-radius: 2px;
  border-style: none;
  margin-right: 3px;
}

.userInfo, .snippetInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem auto;
}

.inputs::-webkit-input-placeholder {
  font-family: cursive;
  color: #0098eb;
}

.inputs:-ms-input-placeholder {
  font-family: cursive;
  color: #0098eb;
}

.inputs::-ms-input-placeholder {
  font-family: cursive;
  color: #0098eb;
}

.inputs::placeholder {
  font-family: cursive;
  color: #0098eb;
}

#snippetSideBarTitle {
  color: #0077b8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#snippetSideBarTitle:hover {
  background-color: #fff;
  display: inline-block;
  color: #b84000;
  cursor: pointer;
}

.online {
  font-weight: 800;
  color: green;
}

.offline {
  font-weight: 100;
  color: slategray;
  font-style: italic;
}

textarea {
  display: block;
  position: relative;
  padding: 5px;
  border-style: none;
  color: lime;
  background-color: #242424;
  width: 99%;
  min-height: 20vh;
  overflow: scroll;
  border-radius: 5px;
}

textarea::-webkit-input-placeholder {
  background-color: #242424;
  font-size: 1rem;
  font-family: monospace;
  color: limegreen;
}

textarea:-ms-input-placeholder {
  background-color: #242424;
  font-size: 1rem;
  font-family: monospace;
  color: limegreen;
}

textarea::-ms-input-placeholder {
  background-color: #242424;
  font-size: 1rem;
  font-family: monospace;
  color: limegreen;
}

textarea::placeholder {
  background-color: #242424;
  font-size: 1rem;
  font-family: monospace;
  color: limegreen;
}

a {
  color: #0077b8;
  text-decoration: none;
}

a[target="_blank"]::after {
  content: " \25F3";
}

ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.nav li {
  list-style-type: none;
}

.button {
  color: #0077b8;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #0077b8;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  cursor: pointer;
  color: #0098eb;
  border: 1px solid #0098eb;
  -webkit-box-shadow: 0 0 5px rgba(0, 152, 235, 0.4), 0 0 3px inset rgba(0, 152, 235, 0.4);
          box-shadow: 0 0 5px rgba(0, 152, 235, 0.4), 0 0 3px inset rgba(0, 152, 235, 0.4);
}

.button:active {
  cursor: pointer;
  color: #0098eb;
  border: 1px solid white;
  -webkit-box-shadow: 0 0 15px rgba(0, 152, 235, 0.4);
          box-shadow: 0 0 15px rgba(0, 152, 235, 0.4);
}

.button#guide {
  float: right;
  text-align: center;
  color: white;
  font-weight: 900;
  width: 7rem;
  border: 2px solid #0098eb;
}

#guide:hover {
  cursor: pointer;
  color: white;
}

#stats {
  margin: 5px;
}

.snippetEditLink {
  background-color: rgba(167, 204, 167, 0.5);
  color: white;
  padding: 2px;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.editListItem {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
  border: 1px dotted black;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.editListItem:hover, .editListItem:active {
  background-color: rgba(0, 28, 42, 0.815);
  color: white;
}

#detectedLanguage {
  margin-left: 5px;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.black {
  background-color: #242424;
}

tt.snippetsHeading {
  display: block;
  color: #0077b8;
  padding: 3px;
  margin-bottom: 20px;
}

tt.editsUsername {
  color: #0077b8;
}

h3.usersSnippets {
  color: #0077b8;
}

.availableSnippets {
  text-align: left;
  padding: 2px;
  margin: 2px 10px;
  border: 1px solid #161616;
  background-color: rgba(255, 214, 214, 0.376);
}

.left {
  text-align: left;
}

.view,
.edit,
.share {
  font-size: 0.5rem;
  margin: 2px;
  padding: 4px;
}

.view:hover,
.edit:hover,
.share:hover {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.edit:hover {
  color: #0077b8;
}

.share:hover {
  background-color: #f1fec6;
  color: #0077b8;
}

.edit {
  color: #0077b8;
}

.share {
  color: #0077b8;
  background-color: rgba(255, 255, 255, 0.8);
}

.username {
  font-family: monospace;
  color: black;
}

.noEdits {
  padding-top: 10rem;
  color: #b84000;
  text-align: center;
}

#sendMessage {
  display: none;
}

#chatOutput {
  text-align: left;
  width: 100%;
  height: 10rem;
  overflow-y: scroll;
  background-color: #1f1e1e;
}

.chatMessage {
  color: #449053;
  font-size: 0.8rem;
  font-family: monospace;
  margin-bottom: 2px;
}

.chatMessage .chatUsername {
  color: #b6945e;
}

.chatMessage .chatTime {
  font-size: 0.5rem;
  color: rgba(212, 153, 153, 0.712);
}

#chatInput {
  border-style: none;
  padding: 5px;
  background-color: #111;
  width: 100%;
  color: #449053;
}

#chatInput::-webkit-input-placeholder {
  color: #d34f5a;
}

#chatInput:-ms-input-placeholder {
  color: #d34f5a;
}

#chatInput::-ms-input-placeholder {
  color: #d34f5a;
}

#chatInput::placeholder {
  color: #d34f5a;
}

.instructionsModal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.7);
  z-index: 666;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.instructionsModal-Content {
  font-size: 0.8rem;
  line-height: 1.4;
  position: relative;
  width: 70%;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  border-radius: 15px;
  background-color: #242424;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4);
          box-shadow: rgba(0, 0, 0, 0.4);
}

.instructionsModal-Content p {
  margin-bottom: 10px;
}

.instructionsModal-Content strong {
  color: #0098eb;
}

.instructionsModal-Content ul {
  margin-bottom: 13px;
}

.instructions-subtitle {
  letter-spacing: 0.1rem;
  font-weight: 800;
  padding: 1px 3px;
  border-left: solid 2px #b84000;
  color: white;
  background-color: rgba(255, 255, 255, 0.02);
}

.instructionsModal-Content #close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 2rem;
}

.snippetSelectModal {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.7);
  z-index: 666;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.snippetSelectModalContent {
  position: relative;
  font-size: 1rem;
  width: 80%;
  padding-top: 2rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

.snippetSelectModalContent #closeSnippetModal {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 2rem;
}

.instructionsModal-Content #close:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  body,
  messages,
  errors {
    font-size: 17px;
  }
  .header {
    border: none;
  }
  .wrapper {
    -webkit-box-shadow: none;
            box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    display: -ms-grid;
    display: grid;
    width: 100vw;
    -ms-grid-columns: minmax(300px, 1250px);
        grid-template-columns: minmax(300px, 1250px);
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "header" "sidebarR" "content" "footer";
  }
  .leftLogo,
  .instructions {
    display: none;
  }
  .output {
    padding: 2px;
    margin: 3px auto 3px auto;
    overflow: scroll;
  }
  form {
    border-radius: 0;
    margin: 0 auto;
  }
  #saveCode {
    left: 0%;
  }
  #clearCode {
    left: 55px;
  }
  #removeSnippet {
    right: 0%;
  }
  .homeButton {
    left: 0%;
  }
  #logout {
    position: absolute;
    left: 15%;
    z-index: 10;
  }
  #username {
    right: 17rem;
  }
  #password {
    right: 5rem;
  }
  #snippetDescription,
  #snippetTitle {
    width: 27rem;
  }
  .messages {
    position: absolute;
    font-size: 1rem;
    bottom: 5px;
    min-width: 350px;
    padding: 3px;
  }
  input::-webkit-input-placeholder,
  input {
    font-size: 1rem;
  }
  input:-ms-input-placeholder,
  input {
    font-size: 1rem;
  }
  input::-ms-input-placeholder,
  input {
    font-size: 1rem;
  }
  input::placeholder,
  input {
    font-size: 1rem;
  }
  #sendMessage {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */