@media only screen and (max-width: 1250px) {
  body,
  messages,
  errors {
    font-size: 17px;
  }
  .header {
    border: none;
  }
  .wrapper {
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    width: 100vw;
    grid-template-columns: minmax(300px, 1250px);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "header" "sidebarR" "content" "footer" ;
  }
  .leftLogo,
  .instructions {
    display: none;
  }
  .output {
    padding: 2px;
    margin: 3px auto 3px auto;
    overflow: scroll;
  }
  form {
    border-radius: 0;
    margin: 0 auto;
  }
  #saveCode {
    left: 0%;
  }
  #clearCode {
    left: 55px;
  }
  #removeSnippet {
    right: 0%;
  }
  .homeButton {
    left: 0%;
  }
  #logout {
    position: absolute;
    left: 15%;
    z-index: 10;
  }
  #username {
    right: 17rem;
  }
  #password {
    right: 5rem;
  }
  #snippetDescription,
  #snippetTitle {
    width: 27rem;
  }
  .messages {
    position: absolute;
    font-size: 1rem;
    bottom: 5px;
    min-width: 350px;
    padding: 3px;
  }

  input::-webkit-input-placeholder,
  input {
    font-size: 1rem;
  }
  input:-ms-input-placeholder,
  input {
    font-size: 1rem;
  }
  input::-ms-input-placeholder,
  input {
    font-size: 1rem;
  }
  input::placeholder,
  input {
    font-size: 1rem;
  }
  #sendMessage {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    display: flex;
  }
}
