.instructionsModal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: $backgroundTrns;
  z-index: 666;
  transition: all 0.4s ease-in-out;
}

.instructionsModal-Content {
  font-size: 0.8rem;
  line-height: 1.4;
  position: relative;
  width: 70%;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  border-radius: 15px;
  background-color: $background;
  box-shadow: $boxShadow;
  p {
    margin-bottom: 10px;
  }

  strong {
    color: $mainFontLt;
  }

  ul {
    margin-bottom: $paddingMed;
  }
}

.instructions-subtitle {
  letter-spacing: 0.1rem;
  font-weight: 800;
  padding: 1px 3px;
  border-left: solid 2px $mainComp;
  color: $lightest;
  background-color: rgba(255, 255, 255, 0.02);
}

.instructionsModal-Content #close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 2rem;
}

.snippetSelectModal {
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: $backgroundTrns;
  z-index: 666;
  transition: all 0.4s ease-in-out;
}

.snippetSelectModalContent {
  position: relative;
  font-size: 1rem;
  width: 80%;
  padding-top: 2rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: $lightestTrns;
}

.snippetSelectModalContent #closeSnippetModal {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 2rem;
}

.instructionsModal-Content #close:hover {
  cursor: pointer;
}
