.error {
  color: #d34f5a;
  background-color: $background;
}

.messages {
  font-size: 1.5rem;
  background-color: $background;
  bottom: 5px;
  padding: 3px;
  color: $mainFont;
  z-index: 1666;
}

.language {
  font-size: 1.2rem;
  text-align: center;
  background-color: $background;
  bottom: 5px;
  padding: 3px;
  color: $mainFont;
  margin-left: $paddingSml;
  z-index: 1666;
}

.loggedInMembers {
  color: rgba(41, 250, 34, 0.781);
  background-color: rgba(24, 21, 21, 0.322);
  padding: 3px 38PX;
  text-align: left;
  min-height: 50px;
  border: 2px solid $backgroundTrns;
  border-radius: $borderRadiusSml;
  box-shadow: 0 5px 10 $boxShadow;
  margin-bottom: 1rem;
  .memberName {
    background-color: #666;
  }

  tt {
    display: block;
    padding: $paddingSml;
    color: $mainFont;
  }
}

.loading {
  background-image: url("../img/ajax-loader.gif");
}

.inputs#snippetTitle,
.inputs#snippetDescription,
.inputs#username,
.inputs#password {  
  padding-left: 3px;
  height: 1.4rem;
  background-color: rgba(97, 96, 96, 0.671);
  color: $mainFont;
  border: 2px solid $mainFont;
  border-radius: 2px;
  border-style: none;
  margin-right: 3px;
}

.userInfo, .snippetInfo {
  display: flex;
  align-items: flex-start;
  margin: 1rem auto;

}

.inputs::placeholder {
  padding-left: 3px;
  font-family: cursive;
  color: $mainFontLt;
}

#snippetSideBarTitle {
  color: $mainFont;
  transition: all 0.3s ease-in-out;
}

#snippetSideBarTitle:hover {
  background-color: #fff;
  display: inline-block;
  color: $mainComp;
  cursor: pointer;
}

.online {
  font-weight: 800;
  color: green;
}

.offline {
  font-weight: 100;
  color: slategray;
  font-style: italic;
}

textarea {
  display: block;
  position: relative;
  padding: 5px;
  border-style: none;
  color: lime;
  background-color: $background;
  width: 99%;
  min-height: 20vh;
  overflow: scroll;
  border-radius: $borderRadiusSml;
}

textarea::placeholder {
  background-color: $background;
  font-size: 1rem;
  font-family: monospace;
  color: limegreen;
}

a {
  color: $mainFont;
  text-decoration: none;
}

a[target="_blank"]::after {
  content: " \25F3";
}
